.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body{
  -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p, h1, h2, h3, h4 {
  color: #ffffff;
}

p {
  text-align: justify;
  font-family: "Arial", 'Verdana', sans-serif;
}

em, a{
  color: #770000;
  text-decoration: none;
}

a:hover {
  color: darkorange;
}
