.sidenav {
  position: sticky;
  bottom : 0;
  top: 65px;
  height: 100vh;
  overflow-y: scroll;
}

.sidenav .indexTitle {
  text-align: center;
  background-color: rgba(255,255,255,.9);
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-bottom: 5px;
	border-radius: 5px;
  font-family: "Book Antiqua", Palatino, serif;
  font-weight: 200;
}

.sidenav .indexTreatiseTitle{
  cursor: pointer;
}

.sidenav .indexBookTitle {
  padding-left: 50px;
  cursor: pointer;
}

.sidenav .indexChapterTitle {
  padding-left: 80px;
  cursor: pointer;
}
.sidenav .indexPartTitle {
  padding-left: 110px;
  cursor: pointer;
}
  /* Keywords display*/
.keywordCount span {
  display: inline-block;
  width: 90%;
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  color: white;
}

.activeSLink li{
  background-color: rgba(0,0,0,.5);
}

.navFooter {
  position: fixed !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  bottom: 0px;
  height: 300px;
  right: 0px;
  width: 40px;
  background-color: rgba(0,0,0,.6);
  border-top-left-radius: 10px;
}

.treatiseTitle {
  background-color: #9b0000;
  border-top-right-radius: 50px;
  padding: 15px;
  font-variant: small-caps;
  font-weight: 300;
  color: white;
  font-family: "Book Antiqua", Palatino, serif;
}

.treatiseContainer {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.treatisePaper {
  border-top-right-radius: 50px !important;
}

.bookTitleWrapper {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(255,255,255,.9);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 7px;
  margin-left: -30px;
}

.bookTitle {
  text-align: center;
  margin: 0 ;
  font-weight: 100;
  font-family: "Book Antiqua", Palatino, serif;
  color: black;
}

.bookNumber {
  text-align: center;
  margin: 0 ;
  font-weight: 100;
  font-family: "Book Antiqua", Palatino, serif;
  color: black;
}

.bookContainer {
  margin-bottom: 50px;
}

.chapterTitleWrapper {
  display: flex;
  align-items: baseline;
}

.chapterNumber {
  height: 100px;
  width: 100px;
  background-color: rgba(255,255,255,.9);
  border-radius: 100px;
  line-height: 100px;
  margin-right: 30px;
  text-align: center;
  font-family: "Book Antiqua", Palatino, serif;
  font-weight: 100;
  color: black;
}

.chapterTitle {
  width: calc(100% - 130px);
  font-family: "Book Antiqua", Palatino, serif;
  font-size: 1.4em;
  font-weight: 100;
}

.chapterContainer {

}

.partTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.partTitle {
  font-family: "Book Antiqua", Palatino, serif;
  font-size: 1.3em;
  font-weight: 100;
}

.partNumber {
  margin-left: 30px;
  width: 75px;
  background-color: rgba(255,255,255,.9);
  padding: 15px;
  margin-right: -30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  text-align: right;
  font-family: "Book Antiqua", Palatino, serif;
  font-size: 1em;
  font-weight: 100;
  color: black;
}

.partContainer {
  background-color: rgba(0,0,0,.2);
  border-radius: 30px;
  margin-left: -30px;
  margin-right: -30px;
  padding: 30px;
}

.partContainer p {
  font-family: "Book Antiqua", Palatino, serif;
  font-weight: 100;
  color: #cccccc;
  font-size:1.1em;
}

.loadingScreen {
  position: fixed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
  height: calc(100% - 70px);
  width: 100vw;
  background-color: rgba(0,0,0,.8);
  text-align: center;
}
.loadingTitle {
  font-family: "Book Antiqua", Palatino, serif;
  font-weight: 300;
}
.loadingSubtitle {
  font-family: "Book Antiqua", Palatino, serif;
  font-weight: 100;
}

.keyword {
  color: white;
  background-color: #9b0000;
  margin: 2px;
  padding-bottom:2px;
  padding-left: 8px;
  margin-right: 5px;
  border-radius: 20px;
}

.fakeParagraph {
  height: 10px;
}

.searchPill {
  padding-left: 7px;
  padding-right: 7px;
  background-color: #9b0000;
  color: white;
  border-radius: 10px;
  font-size: 0.8em;
  font-family: "Book Antiqua", Palatino, serif;
  font-weight: 100;
  margin: 5px;
  line-height: 17px;
}

.searchPillsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.results {
  padding-right: 75px !important;
}
