.endingMaintitle {
  text-align: center;
  font-family: "Book Antiqua", Palatino, serif;
  font-weight: 300;
}

.endingPill1 {
  margin-right: auto;
  width: 80%;
  background-color: rgba(0,0,0,.9);
  padding: 10px;
  padding-left: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: left;
  font-family: "Book Antiqua", Palatino, serif;
  font-size: 1em;
  font-weight: 100;
  color: white;
}

.endingPill2 {
  margin-left: auto;
  width: 80%;
  background-color: rgba(0,0,0,.9);
  padding: 10px;
  padding-right: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  text-align: right;
  font-family: "Book Antiqua", Palatino, serif;
  font-size: 1em;
  font-weight: 100;
  color: white;
}

.landingTitle {
  text-align: center;
  font-family: "Book Antiqua", Palatino, serif;
  font-weight: 300;
}
.landingSubtitle {
  text-align: center;
  font-family: "Book Antiqua", Palatino, serif;
  font-weight: 100;
}
.landingExplanation {
  text-align: center;
  font-family: "Book Antiqua", Palatino, serif;
  font-weight: 100;
  padding-right: 30px;
  padding-left: 30px;
}
.title {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Book Antiqua", Palatino, serif;
  font-weight: 300;
}

.text {
  font-family: "Book Antiqua", Palatino, serif;
  font-weight: 100;
}
